<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    Business Consulting
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="content padding">
    <div class="container justified">
        <div class="row">
            <div class="col-md-8">
                <h3><span class="red-text">Strategic</span> and <span class="red-text">personalised</span> solution for all your business needs.
                </h3><br>
                <p>Outbak Ventures provide professional business consultancy services to firms across Australia and
                    around the world. We combine old school business values with modern day business intelligence and
                    provide customised solutions to companies based on their individual needs. We have specialists
                    skilled people management, finance, operations, securities, information technology with extensive
                    industry knowledge to significantly improve the outcomes of our clients while saving them their
                    time, money and resources.
                </p>
                <p>We operate primarily in the private sector with the occasional public sector clients and specialise
                    in Australian businesses and workforce. Outbak Ventures assist organisations in their business
                    strategy and help them structure their operations to improve their business performance and value
                    allowing them to maintain a distinct advantage that is both sustainable and competitive while
                    simultaneously allowing them to keep growing without having to restructure their organisation at
                    every stage.
                </p>
            </div>
            <div class="col-md-4 sticky">
                <div class="centered">
                    <div class="margin-5">
                        <div class="card">
                            <a (click)="navigate(1)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Investment Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card">
                            <a (click)="navigate(2)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Business Consulting</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                        <div class="card">
                            <a (click)="navigate(3)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Collaboration</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(4)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>The Hatchery</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(5)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Financial Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(6)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Risk Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(7)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Tech Solutions</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(8)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>International Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>