<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    The Hatchery
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="content padding">
    <div class="container justified">
        <div class="row">
            <div class="col-md-8">
                <h3 class="left-aligned">Turn <span class="red-text">dreams</span> and <span
                        class="red-text">ideas</span> into innovative businesses.
                </h3><br>
                <p>The Hatchery is the startup incubator of Outbak Ventures where we help entrepreneurs set up their
                    dream company in Queensland and across Australia. We started the hatchery with the singular vision
                    to turn dreams and ideas into innovative businesses and help aspiring entrepreneurs to create
                    sustainable businesses with an ecosystem that facilitates future growth. </p>
                <p>At Outbak Ventures, we provide all the necessary infrastructure and expertise to foster a startup
                    from its initial conceptual stages to setting up the company and monitor its progress till it
                    becomes self-sustaining, intervening if necessary.</p>
                <br>
                <h3>The Outbak <span class="red-text">Difference</span></h3>
                <br>
                <p>CB Insights identified 20 significant reasons why startups fail by carrying out the postmortem
                    analysis of 101 startups that had to shut down soon after its establishment. With the assistance of
                    Outbak Ventures and its roster of experts and specialists and access to the resources of all our
                    associates, companies have a better chance of surviving and mitigating all the risks identified.</p>
                <img class="img-contain" src="../../../assets/images/startup-issues.png" alt="Startup Issues">
                <hr>
                <h5><span class="red-text">Issues</span></h5>
                <ul>
                    <li>No market need - 47%</li>
                    <li>User unfriendly product - 17%</li>
                </ul>
                <h6>The Outbak <span class="red-text">Difference</span></h6>
                <p>Before you set into any business, it is always advisable to get a risk assessment. At Outbak Ventures
                    we help you analyze potential outcomes of businesses in terms of what can go wrong, the likelihood
                    of it happening, the consequences and how tolerable the risk identified is. We have a dedicated team
                    of analysts and industry experts who will do this for you without you having to do it yourself. We
                    can tell you how successful your business is going to be before you even invest your time and energy
                    into the project.</p>
                <hr>
                <h5><span class="red-text">Issues</span></h5>
                <ul>
                    <li>Ran out of cash - 29%</li>
                    <li>No financing/Investor interests - 8%</li>
                </ul>
                <h6>The Outbak <span class="red-text">Difference</span></h6>
                <p>Having the right idea, product or services is not enough to succeed. What is also required is
                    sufficient prudence to ensure financial stability as well as the backing of keen investors. We help
                    companies raise their capital and connect with potential investors as well as assist in the
                    negotiation process. We also help companies manage their assets in a more efficient way and manage
                    their cash flow more wisely. With the help of Outbak Ventures, you will be less likely to fail due
                    to financial burden or shortage of funds.</p>
                <hr>
                <h5><span class="red-text">Issues</span></h5>
                <ul>
                    <li>Get out competed - 19%</li>
                    <li>Pricing/ cost issue - 18%</li>
                    <li>Product without a business model - 17%</li>
                    <li>Product mistimed - 13%</li>
                </ul>
                <h6>The Outbak <span class="red-text">Difference</span></h6>
                <p>Even with a brilliant product and sufficient funding, it still does not guarantee success. A solid
                    business plan with a sound strategy to deal with potential competitors and a well thought out
                    business model to identify potential sources for income generation is absolutely necessary to ensure
                    that the company remains sustainable. It also helps identify potential weaknesses and pitfalls
                    including mistiming, pricing and other issues. Outbak Ventures, we will help you develop your
                    strategy, create business plan and model as well as help execute it.</p>
                <hr>
                <h5><span class="red-text">Issues</span></h5>
                <ul>
                    <li>Poor Marketing - 14%</li>
                    <li>Ignore Customers - 14%</li>
                </ul>
                <h6>The Outbak <span class="red-text">Difference</span></h6>
                <p>Every successful business has had a brilliant plan, a strong value proposition and dedicated people
                    working behind bringing the product to the masses. With our dedicated team of market analysts and
                    strategists as well as designers, artists and developers will help create a custom and personalised
                    marketing strategies for your product or service.</p>
                <hr>
                <h5><span class="red-text">Issues</span></h5>
                <ul>
                    <li>Not the right team - 23%</li>
                    <li>Disharmony among team/ Investors - 13%</li>
                    <li>Lack of passion - 9%</li>
                    <li>Burnout - 8%</li>
                </ul>
                <h6>The Outbak <span class="red-text">Difference</span></h6>
                <p>Having the right people for your team is as important as having the right attitude and energy to
                    ensure that your company is devoid of cracks that form along the internal walls of your
                    organisation. We at Outbak Ventures understand that a team can make or break a team. We will help
                    you identify and recruit the right members for your team as well as in identifying critical areas or
                    skillset that your team might require.</p>
                <hr>
                <h5><span class="red-text">Issues</span></h5>
                <ul>
                    <li>Failed Geographical Expansion 9%</li>
                    <li>Legal challenges 8%</li>
                    <li>Didn't use network 8%</li>
                </ul>
                <h6>The Outbak <span class="red-text">Difference</span></h6>
                <p>Working with Outbak Ventures grants you access to all our partners and associates and their
                    expertise. With years of experience at their respective fields which include legal, financial, real
                    estate and engineering and spread across the world, our partners grants us a special position to
                    deal with any kind of situation.</p>
                <hr>
                <p>Have the <span class="red-text">next big idea?</span></p>
                <p><a (click)="navigate(9)"><span class="red-text pointer">Contact us</span></a> today and let us figure
                    out everything else and let us help you
                    turn your dream into a reality.</p>
            </div>
            <div class="col-md-4 sticky">
                <div class="centered">
                    <div class="margin-5">
                        <div class="card">
                            <a (click)="navigate(1)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Investment Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(2)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Business Consulting</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(3)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Collaboration</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card">
                            <a (click)="navigate(4)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>The Hatchery</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                        <div class="card">
                            <a (click)="navigate(5)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Financial Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(6)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Risk Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(7)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Tech Solutions</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(8)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>International Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>