.header-section {
	background: url("../../assets/images/backgrounds/9.png") no-repeat center center fixed; 
    z-index:1;
    background-size: cover;
	height:70vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.padded{
    width: 100%;
    border: 1.5em solid #ddd;
}

.map-frame {
    width: 100%;
    height: 80vh;
}

.content-padding {
    padding-right: 3%;
}

.contact-padding {
    padding-left: 15px;
}