<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    Who We Are
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="content padding">
    <div class="container justified">
        <div class="row">
            <div class="col-md-8">
                <h3>We believe in two things; <span class="red-text">people</span> and <span
                        class="red-text">dreams</span>.
                </h3><br>
                <p>We believe that with the right ecosystem, the right team and the right mindset, anything is possible
                    and
                    that
                    any dream can be turned into a reality.</p>
                <p>Starting a business is easy, but turning it into something successful requires many ingredients. We
                    understand that it is difficult for startups to compete in an aggressive and ambitious business
                    environment
                    and create a space for themselves. This results in many investors and entrepreneurs turning away
                    from
                    opportunities and taking chances because of the fear of failure.</p>
                <p>Started in 2017 under the vision of creating useful and sustainable business ventures in Australia,
                    we
                    had a
                    simple goal: We wanted to bring three worlds together and integrate it seamlessly to create an
                    ecosystem
                    that fostered budding entrepreneurs and investors. We always try to build strong relationships with
                    all
                    our
                    stakeholders, and this has allowed us to create a space that promotes and accelerates the growth of
                    all
                    parties involved.</p>
                <p>
                    At Outbak Ventures, we firmly believe that three fundamental principles define the success of a
                    company
                    no
                    matter the size - Profitability, Financial Discipline, and Strategic View. Our hardworking team is
                    driven by
                    innovation, strong leadership, and synergies we create with other companies and entrepreneurs. They
                    work
                    conscientiously to ensure that our clients receive the desired outcomes, results and returns.
                </p>
                <p>For us being good at what we do is only a part of the picture. What we desire is to truly make a
                    difference—and that is what we do, every single day—we want to be that difference in the lives of
                    entrepreneurs and investors. We want to allow anyone to be one day be able to start their own
                    company or
                    invest in one without having to have a background in finance or management.</p>
                <p>We want to make a difference, a very positive one, in society as a whole, and we want to empower our
                    people
                    with the best possible outcomes. This is what drives us and fuels our ambitions; this is what
                    encourages
                    us
                    to keep pushing forward. We strive every waking hour to stay relevant and continuously evolve by
                    incorporating the latest business practices and cutting edge technology.</p>
                <p>Finally, it is this burning desire to make a difference that allows us to be pioneers and travel into
                    the
                    uncharted territories, or what we call Outbak Ventures.</p>

            </div>
            <div class="col-md-4 sticky">
                <div class="centered">
                    <div class="table">
                        <div class="card margin">
                            <a (click)="navigate(1)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Contact Us</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card margin">
                            <a (click)="navigate(2)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Our Leaders</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card margin">
                            <a (click)="navigate(3)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Our People</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>