<section class="page-not-found-container">
    <div class="center">
        <br><br><br><br><br>
        <div class="row">
            <div class="col-md-8">
                <br><br>
                <h1><span style="color: red">Error 404: </span>Page not found</h1>
                <br>
                <h5>Sorry, we can't find the page that you are looking for. Please go back to the homepage or contact us
                    at info@outbakventures.com</h5>
                <br>
                <button class="btn btn-md btn-outline-success" (click)="navigateToHome()">Go to Home</button>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/page-not-found.png" />
            </div>
        </div>
        <br><br><br><br><br>
    </div>
</section>