<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    International Services
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="content padding">
    <div class="container justified">
        <div class="row">
            <div class="col-md-8">
                <h3 class="left-aligned">Facilitating a <span class="red-text">world</span> without <span class="red-text">borders</span>.
                </h3><br>
                <p>We are involved in the different dimensions of business regardless of industries or borders. We work
                    with companies and individuals across the world every day to offer a seamless service to all our
                    clients. We mainly provide technological and manufacturing solutions to companies along with other
                    advisory aspects of business development, including trading, consulting and investment management
                    for clients from other countries. Our extensive network of resources include ones from China, Korea,
                    Taiwan and India along with specialists from different backgrounds and from around the world. At our
                    organisation too, we try to maintain this diversity in both culture and skills, and that has allowed
                    us to tackle all kinds of problems effortlessly.</p>
                <p>Staying ahead of the competition requires more than tact, it requires a global outlook and a vast
                    network to support it, and this is precisely what we offer at Outbak Ventures.</p>
            </div>
            <div class="col-md-4 sticky">
                <div class="centered">
                    <div class="margin-5">
                        <div class="card">
                            <a (click)="navigate(1)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Investment Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(2)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Business Consulting</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(3)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Collaboration</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(4)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>The Hatchery</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(5)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Financial Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(6)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Risk Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(7)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Tech Solutions</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card">
                            <a (click)="navigate(8)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>International Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>