<div class="container container-fluid cookies-padding">
    <section>
        <h1>Managing Cookies</h1>
        <p>Most modern broswers allow you to manage cookies saved on your computer. For example you may wish to accept
            all
            cookies or reject all cookies.</p>
        <h2>Google Chrome</h2>
        <p>
            To amend the cookies settings:
        </p>
        <ul>
            <li>Click on the chrome menu.</li>
            <li>Select settings.</li>
            <li>Click + Show advanced settings at the bottom of the page</li>
            <li>Under the Privacy section click the Content settings button</li>
            <li>In the Cookies section you are able to change the settings, such as allow cookies, remove all cookies,
                block
                third party cookies.</li>
        </ul>
        <p>
            Further, more detailed instructions are available <a
                href="http://support.google.com/chrome/bin/answer.py?hl=en-GB&answer=95647" target="_blank">here</a>
        </p>
    </section>
    <section>
        <h2>Internet explorer 8,9 and 10</h2>
        <ul>
            <li>
                Select the Tools menu (ALT-X)
            </li>
            <li>
                Select Internet Options
            </li>
            <li>
                Click the Privacy tab
            </li>
            <li>
                Move the slider to choose your preferred settings.
            </li>
            <li>
                For more specialised settings click on the Advanced button, check the Override cookie handling checkbox
                and
                modify the settings to suit your requirements.
            </li>
        </ul>
        <p>
            Further instruction are available <a
                href="http://windows.microsoft.com/en-us/internet-explorer/delete-manage-cookies#ie=ie-10"
                target="_blank">here</a>
        </p>
    </section>
    <section>
        <h2>Mozilla Firefox</h2>
        <ul>
            <li>
                Select Options
            </li>
            <li>
                Click the Privacy tab
            </li>
        </ul>
        <p>
            To clear cookies, select the remove individual cookies link.
        </p>
        <p>
            To amend the cookie settings, change the Firefox will dropdown in the History section to Use custom settings
            for
            history.
        </p>
        <p>
            Further instructions are available <a
                href="http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"
                target="_blank">here</a>
        </p>
    </section>
    <section>
        <h2>Safari</h2>
        <ul>
            <li>
                Choose Safari settings menu
            </li>
            <li>
                Select Preferences
            </li>
            <li>
                Click the Privacy tab.
            </li>
            <li>
                In the Block cookies section, specify whether the browser should accept or reject cookies from websites.
            </li>
            <li>
                If you want to see which websites store cookies on your computer, click Details.
            </li>
        </ul>
        <p>
            If you set Safari to block cookies, you may need to temporarily accept cookies to open a page. Repeat the
            above steps, selecting Never in the “Block cookies” section. When you’re done with the page, block cookies
            again, and then remove the page’s cookies.
        </p>
        <p>
            Further details are available <a href="http://support.apple.com/kb/PH11913" target="_blank">here</a>
        </p>
    </section>
    <section>
        <h2>Other browsers</h2>
        <p>With new devices being created all the time, including tablets and phones it is not possible to list every
            browser for every device. The best advice is to consult the manufactures website for further instructions
            regarding cookies.</p>
    </section>
</div>
<!-- <footer style="margin-top: 1.5em; background-color: #bbb; border-radius: 15px 15px 0 0; text-align: center">
    <p style="margin: 0">&copy;Data pooled from <a href='http://www.aboutcookies.org.uk/managing-cookies'
            target="_blank">here</a></p>
</footer> -->