<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading" style="color: #444">
                    Our People
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="business">
    <div class="margin-left-5 margin-right-5 container padding-top padding-bottom ubuntuRegular">
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/anand.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Anand Sivasankar</span><br>
                        <span class="member-designation">General Manager</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/navya.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Navya Chowdary</span><br>
                        <span class="member-designation">Digital Marketing Specialist | Team Lead</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/pavan.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Pavan Teja Bhatta</span><br>
                        <span class="member-designation">Web Developer Specialist | Team Lead</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/phai.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Tontrakun Chaimongkol</span><br>
                        <span class="member-designation">Marketing Specialist | Team Lead</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/somya.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Somya Tomar</span><br>
                        <span class="member-designation">Data Analyst | Team Lead</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/anil.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Anil Simon</span><br>
                        <span class="member-designation">Web Developer</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/arun.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Arun Davis</span><br>
                        <span class="member-designation">Marketing Analyst</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/bonnie.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Bonnie Tang</span><br>
                        <span class="member-designation">Digital Marketing Analyst</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/david.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">David Vera</span><br>
                        <span class="member-designation">Systems Administrator</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/dipak.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Dipak Basnet</span><br>
                        <span class="member-designation">Graphic Designer</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/Irantzu.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Irantzu Sangroniz</span><br>
                        <span class="member-designation">Visual Designer</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/Jane.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Jane Balashora</span><br>
                        <span class="member-designation">Graphic Designer</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/kinjal.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Kinjalben Patel</span><br>
                        <span class="member-designation">Web Developer</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/rashmi.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Rashmi Venex Dsouza</span><br>
                        <span class="member-designation">Blockchain Technology Analyst</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/ronald.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Ronald</span><br>
                        <span class="member-designation">Marketing Analyst</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/vijay.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Vijay Kumar Saraf</span><br>
                        <span class="member-designation">Systems Administrator</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom"></div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/virginia.jpg"
                        alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Virginia Grau</span><br>
                        <span class="member-designation">Project Manager</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/anand.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Anand Sivasankar</span><br>
                        <span class="member-designation">General Manager</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom"></div>
        </div>
    </div>
</section>