<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    Our People
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="business">
    <div class="margin-left-5 margin-right-5 container padding-top padding-bottom ubuntuRegular">
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/anand.jpg"
                        alt="Anand Sivasankar">
                    <mat-card-content class="centered">
                        <span class="member-name">Anand Sivasankar</span><br>
                        <span class="member-designation">General Manager</span><br>
                        <a href="https://www.linkedin.com/in/anand-sivasankar/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/Lucien.jpg"
                        alt="Lucien Sanders">
                    <mat-card-content class="centered">
                        <span class="member-name">Lucien Sanders</span><br>
                        <span class="member-designation">Animation Specialist | Team Lead</span><br>
                        <a href="https://www.linkedin.com/in/lucien-sanders-9663a2186/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/navya.jpg"
                        alt="Navya Chowdary">
                    <mat-card-content class="centered">
                        <span class="member-name">Navya Chowdary</span><br>
                        <span class="member-designation">Digital Marketing Specialist | Team Lead</span><br>
                        <a href="https://www.linkedin.com/in/navya-kothuri-a68060184/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/pavan.jpg"
                        alt="Pavan Teja Bhatta">
                    <mat-card-content class="centered">
                        <span class="member-name">Pavan Teja Bhatta</span><br>
                        <span class="member-designation">Web Developer Specialist | Team Lead</span><br>
                        <a href="https://www.linkedin.com/in/pavan-teja-bhatta/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/phai.jpg"
                        alt="Tontrakun Chaimongkol">
                    <mat-card-content class="centered">
                        <span class="member-name">Tontrakun Chaimongkol</span><br>
                        <span class="member-designation">Marketing Specialist | Team Lead</span><br>
                        <a href="https://www.linkedin.com/in/tontrakun-chaimongkol-2ba918151/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/somya.jpg"
                        alt="Somya Tomar">
                    <mat-card-content class="centered">
                        <span class="member-name">Somya Tomar</span><br>
                        <span class="member-designation">Data Analyst | Team Lead</span><br>
                        <a href="https://www.linkedin.com/in/468450691/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/anil.jpg"
                        alt="Anil Simon">
                    <mat-card-content class="centered">
                        <span class="member-name">Anil Simon</span><br>
                        <span class="member-designation">Web Developer</span><br>
                        <a href="https://www.linkedin.com/in/anil-simon-b0088415a/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/arun.jpg"
                        alt="Arun Davis">
                    <mat-card-content class="centered">
                        <span class="member-name">Arun Davis</span><br>
                        <span class="member-designation">Marketing Analyst</span><br>
                        <a href="https://www.linkedin.com/in/arun-davis-151153173/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/bonnie.jpg"
                        alt="Bonnie Teng">
                    <mat-card-content class="centered">
                        <span class="member-name">Bonnie Teng</span><br>
                        <span class="member-designation">Digital Marketing Analyst</span><br>
                        <a href="https://www.linkedin.com/in/bonnie-teng-08a860157/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/david.jpg"
                        alt="David Vera">
                    <mat-card-content class="centered">
                        <span class="member-name">David Vera</span><br>
                        <span class="member-designation">Systems Administrator</span><br>
                        <a href="https://www.linkedin.com/in/david-vera-3b3079175/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/dipak.jpg"
                        alt="Dipak Basnet">
                    <mat-card-content class="centered">
                        <span class="member-name">Dipak Basnet</span><br>
                        <span class="member-designation">Graphic Designer</span><br>
                        <a href="https://www.linkedin.com/in/dipakbasnet/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/Irantzu.jpg"
                        alt="Irantzu Sangroniz">
                    <mat-card-content class="centered">
                        <span class="member-name">Irantzu Sangroniz</span><br>
                        <span class="member-designation">Visual Designer</span><br>
                        <a href="https://www.linkedin.com/in/irantzu-sangroniz-a2622015b/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/Jane.jpg"
                        alt="Jane Balashova">
                    <mat-card-content class="centered">
                        <span class="member-name">Jane Balashova</span><br>
                        <span class="member-designation">Graphic Designer</span><br>
                        <a href="https://www.linkedin.com/in/jane-balashova-3124ba185/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/kinjal.jpg"
                        alt="Kinjal Patel">
                    <mat-card-content class="centered">
                        <span class="member-name">Kinjal Patel</span><br>
                        <span class="member-designation">Web Developer</span><br>
                        <a href="https://www.linkedin.com/in/kinjal-patel-5642a778/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/rashmi.jpg"
                        alt="Rashmi Venex Dsouza">
                    <mat-card-content class="centered">
                        <span class="member-name">Rashmi Venex Dsouza</span><br>
                        <span class="member-designation">Blockchain Technology Analyst</span><br>
                        <a href="https://www.linkedin.com/in/rashmivenex/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/ronald.jpg"
                        alt="Ronald Dacayanan">
                    <mat-card-content class="centered">
                        <span class="member-name">Ronald Dacayanan</span><br>
                        <span class="member-designation">Marketing Analyst</span><br>
                        <a href="https://www.linkedin.com/in/ronald-dacayanan/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-3 padding-bottom"></div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/vijay.jpg"
                        alt="Vijay Kumar Saraf">
                    <mat-card-content class="centered">
                        <span class="member-name">Vijay Kumar Saraf</span><br>
                        <span class="member-designation">Systems Administrator</span><br>
                        <a href="https://www.linkedin.com/in/vijay-kumar-saraf-62876a55/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/virginia.jpg"
                        alt="Virginia Grau Ortiz">
                    <mat-card-content class="centered">
                        <span class="member-name">Virginia Grau Ortiz</span><br>
                        <span class="member-designation">Project Manager</span><br>
                        <a href="https://www.linkedin.com/in/virginia-grau-ortiz-b2641096/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 padding-bottom"></div>
            <!-- <div class="col-md-3 padding-bottom">
                <mat-card class="card-shadow centered">
                    <img mat-card-image class="member-image" src="../../../assets/images/Team/anand.jpg" alt="Catura">
                    <mat-card-content class="centered">
                        <span class="member-name">Anand Sivasankar</span><br>
                        <span class="member-designation">General Manager</span><br>
                        <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                            <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div> -->
            <div class="col-md-3 padding-bottom"></div>
        </div>
    </div>
</section>