<nav class="navbar navbar-expand-lg navbar-light outbak-nav">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse outbak-navlogo" id="navbarTogglerDemo01">
		
		<a class="navbar-brand" href="#">
			<img src="../assets/images/outbacklogo.png" alt="">
		</a>
		
		
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Our Ventures <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Services
				</a>
				<div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Our Industry</a>
					<a class="dropdown-item" href="#">Our services</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Blog <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				About us
				</a>
				<div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Our History</a>
					<a class="dropdown-item" href="#">Our Executives</a>
					<a class="dropdown-item" href="#">Our Team</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact us <span class="sr-only">(current)</span></a>
			</li>
		</ul>
	   
	</div>
</nav>


<button (click)="navigate(1)">
    About us
</button>
<button (click)="navigate(2)">
    Services
</button>
<router-outlet></router-outlet>