<div class="no-x-overflow">
    <nav class="navbar navbar-expand-lg navbar-light outbak-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"
            (click)="navButtonClicked()">
            <i id="navButtonIcon" class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse outbak-navlogo" id="navbarTogglerDemo01">

            <a class="navbar-brand cursor" (click)="navigate(3)">
                <img src="../assets/images/Logos/outbak1.png" alt="Logo">
            </a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link cursor" (click)="navigate(3)">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" (click)="navigate(4)">Our Associates <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animate slideIn no-padding-left no-padding-right"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item cursor" (click)="navigate(1,1)">Clients</a>
                        <a class="dropdown-item cursor" (click)="navigate(1,2)">Investers</a>
                        <a class="dropdown-item cursor" (click)="navigate(1,3)">Partners</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link cursor" (click)="navigate(5)">Blog <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        About us
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animate slideIn no-padding-left no-padding-right"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item cursor" (click)="navigate(2,1)">Who we are</a>
                        <a class="dropdown-item cursor" (click)="navigate(2,2)">Our Leaders</a>
                        <a class="dropdown-item cursor" (click)="navigate(2,3)">Our People</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" (click)="navigate(6)">Contact us <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            <div class="padding-left padding-right fa-animate centered">
                <a href="https://www.facebook.com/OutbakVenturesPtyLtd/" target="_blank">
                    <i class="fa fa-facebook" style="color: #3b5998" title="Facebook"></i>
                </a>
                &nbsp;&nbsp;
                <!-- <a href="https://www.instagram.com/blockchaincatura/" target="_blank">
                    <i class="fa fa-instagram" style="color: #c13584" title="Instagram"></i>
                </a>
                &nbsp;&nbsp; -->
                <a href="https://www.linkedin.com/company/outbak-ventures-pty-ltd/" target="_blank">
                    <i class="fa fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                </a>
            </div>

        </div>
    </nav>
    <router-outlet></router-outlet>
    <!-- Modal -->
    <div class="modal hide fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Warning!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This is a Developer Version of the website. It is undergoing changes and the final product will have more content and data. This can be considered as a prototype to the second iteration (v2.0) of Outbak Ventures website.
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>