<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading" style="color: #444">
                    Our Leaders
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="business">
    <div class="margin-left-5 margin-right-5 container padding-top padding-bottom ubuntuRegular">
        <div class="row padding-top">
            <div class="container card-shadow padding-bottom">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h4>Praveen Karunambaran</h4>
                        </mat-card-title>
                        <mat-card-subtitle>Director</mat-card-subtitle>
                        <br>
                        <a href="https://www.linkedin.com/in/praveenkarunambaran/" target="_blank">
                            <i class="fa fa-lg fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-header>
                    <mat-card-content class="justified">
                        <div class="container container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <img mat-card-image class="member-image padding-5"
                                        src="../../../assets/images/Team/praveen.jpg" alt="Praveen">
                                </div>
                                <div class="col-md-8 padding-left-5 padding-right-5">
                                    <div class="table">
                                        <div class="table-cell padding-bottom-5">
                                            <p>
                                                Leader, visionary, socialite, erudite and most importantly, the man who
                                                started
                                                it
                                                all, Praveen is the mastermind behind all our operations. Ambitious and
                                                driven,
                                                he
                                                has a wealth of experience as a business consultant and a technological
                                                expert
                                                across multiple domains. He is also a serial entrepreneur having
                                                successfully
                                                incubated several small and medium-sized businesses and helped them.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row padding-top">
            <div class="container card-shadow padding-bottom">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h4>Hussein Srour</h4>
                        </mat-card-title>
                        <mat-card-subtitle>Director</mat-card-subtitle>
                        <br>
                        <a href="https://www.linkedin.com/in/hussein-srour/" target="_blank">
                            <i class="fa fa-lg fa-linkedin" style="color: #0e76a8;" title="LinkedIn"></i>
                        </a>
                    </mat-card-header>
                    <mat-card-content class="justified">
                        <div class="container container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <img mat-card-image class="member-image padding-5"
                                        src="../../../assets/images/Team/hussein.jpg" alt="Hussein">
                                </div>
                                <div class="col-md-8 padding-left-5 padding-right-5">
                                    <div class="table">
                                        <div class="table-cell padding-bottom-5">
                                            <p>
                                                An academic at heart, Hussein has more than 10 years of experience
                                                across
                                                multiple
                                                industries across France, Singapore and Australia. Exceptionally
                                                intelligent and
                                                miles ahead of others, Hussein is often able to see the big picture with
                                                while
                                                people are still looking for it. However, he is immensely down to earth
                                                and has
                                                the
                                                patience to explain his vision to other meticulously. He is genuinely
                                                egalitarian
                                                and leads his teams by example.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>