<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading" style="color: #444">
                    Our Associates
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="business">
    <div class="margin-left-5 margin-right-5 container padding-top padding-bottom ubuntuRegular">
        <!-- <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card> -->

        <div class="row padding-top">
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://www.catura.com.au/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                Catura
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/catura.png" alt="Catura">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="http://www.ckienvironmental.com.au/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                CKI Environmental
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/cki.png"
                            alt="CKI Environmental">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://www.elementaljuiceco.com.au/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                Elemental Juice Co.
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/elemental.png"
                            alt="Elemental Juice Co.">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://www.firstjobaustralia.com.au/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                First Job Australia
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/fja.png"
                            alt="First Job Australia">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="http://www.flawlesstrading.com.au/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                Flawless Trading
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/flawless.png"
                            alt="Flawless Trading">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://www.fralarms.com/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                FR Alarms
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/fralarm.png" alt="FR Alarms">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="http://www.nbpol.com.pg/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                New Britan Palm Oil
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/nbpo.png" alt="NBPO Limited">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://www.catura.com" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                P.K. Engineering
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/pk.png"
                            alt="P.K. Engineering">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="http://www.samdicarlo.com/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                Sam Di Carlo
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/sam1.png" alt="Sam Di Carlo">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://www.catura.com" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                Tandoori Club
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/tandoori.png"
                            alt="Tandoori Club">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://www.techsyssolutions.com/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                Techsys Solutions
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/Techsys.png"
                            alt="Techsys Solutions">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://ausinet.com.au/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                Ausinet
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/ausinet.png" alt="Ausinet">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col-md-4 padding-bottom"></div>
            <div class="col-md-4 padding-bottom">
                <a class="card-link" href="https://thethoriumnetwork.ch/" target="_blank">
                    <mat-card class="card-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                The Thorium Network
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="square" src="../../assets/images/Logos/thorium.png"
                            alt="The Thorium Network">
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="col-md-4 padding-bottom"></div>
        </div>
    </div>
</section>