<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">Our Ventures</h1>
        </div>
    </div>
</section>
<section class="container business padding-top padding-bottom ubuntuRegular">
    <div class="row padding-top padding-bottom">
        <h3>About Business</h3>
    </div>
    <div class="row padding-top padding-bottom">
        <div class="col-md-4 logo">
            <img class="square" src="../../assets/images/Logos/catura.png">
        </div>
        <div class="col-md-8 content">

        </div>
    </div>
    <div class="row padding-top padding-bottom">
        <div class="col-md-4 logo">
            <img class="square" src="../../assets/images/Logos/fja.png">
        </div>
        <div class="col-md-8 content">

        </div>
    </div>
    <div class="row padding-top padding-bottom">
        <div class="col-md-4 logo">
            <img class="square" src="../../assets/images/Logos/flawless.png">
        </div>
        <div class="col-md-8 content">

        </div>
    </div>
    <div class="row padding-top padding-bottom">
        <div class="col-md-4 logo">
            <img class="square" src="../../assets/images/Logos/pk.png">
        </div>
        <div class="col-md-8 content">

        </div>
    </div>
</section>