<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    Tech Solutions
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="content padding">
    <div class="container justified">
        <div class="row">
            <div class="col-md-8">
                <h3>Modern <span class="red-text">solutions</span> for all modern <span class="red-text">problems</span>.
                </h3><br>
                <p>At Outback Ventures, we strongly believe that modern problems require modern solutions. We offer key
                    technological solutions for businesses of all shapes and sizes. We offer specialised solutions in
                    engineering management and manufacturing processes and collaborate extensively with our engineering
                    associates in large scale projects in both the public and private sectors.
                </p>
                <p>
                    We also offer IT and blockchain solutions to companies and help design intuitive systems that align
                    with the required business strategies. This also extends to digital media communications and social
                    media management where we help develop the branding strategies for companies to suit their online
                    presence requirements.
                </p>
                <p>Outbak Ventures also offer other services such as financial analysis of technological assets, project
                    management and optimisation and automation of processes. We strive to stay ahead of the curve and
                    try to be in a state of constant evolution to keep up with the latest innovations of the tech driven
                    market of today.
                </p>
            </div>
            <div class="col-md-4 sticky">
                <div class="centered">
                    <div class="margin-5">
                        <div class="card">
                            <a (click)="navigate(1)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Investment Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(2)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Business Consulting</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(3)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Collaboration</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(4)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>The Hatchery</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(5)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Financial Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(6)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Risk Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card">
                            <a (click)="navigate(7)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Tech Solutions</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                        <div class="card">
                            <a (click)="navigate(8)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>International Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>