<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    Collaboration
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="content padding">
    <div class="container justified">
        <div class="row">
            <div class="col-md-8">
                <h3 class="left-aligned">Building relationships based on <span class="red-text">trust</span> and <span class="red-text">equitable</span> outcomes
                </h3><br>
                <p>At Outbak Ventures, we believe in building relationships and not merely expanding our network. What
                    that has done is left us with a growing list of associates from whom we can seek guidance and
                    exchange resources. This allows us to collaborate with partners across multiple disciplines and
                    industries around the world on projects that span over a wide variety of domains. This mutual
                    exchange of skills and services helps us grow over time as trusted partners for future projects and
                    also to extend this vast pool of resources to our clients.</p>
                <p>We understand that a real association can only happen if it is based on mutual respect and equitable
                    outcomes for all of those involved, and this is the basis we build all our interactions around. From
                    entrepreneurs to investors, our clients at Outbak Ventures can choose to collaborate with any of our
                    associates through us to deal with a particular issue and often in the process of doing so,
                    eventually choose to become one of our associates themselves.</p>
                <p>We believe that Outbak Ventures will genuinely become one of the most trusted arenas for
                    cross-dimensional collaboration globally and provide a platform for budding entrepreneurs to kick
                    start their projects.</p>
            </div>
            <div class="col-md-4 sticky">
                <div class="centered">
                    <div class="margin-5">
                        <div class="card">
                            <a (click)="navigate(1)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Investment Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(2)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Business Consulting</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card">
                            <a (click)="navigate(3)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Collaboration</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                        <div class="card">
                            <a (click)="navigate(4)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>The Hatchery</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(5)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Financial Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(6)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Risk Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(7)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Tech Solutions</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(8)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>International Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>