/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'ubuntuBold';
    src: url('./assets/fonts/Ubuntu-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'ubuntuBoldItalic';
    src: url('./assets/fonts/Ubuntu-BI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntuCondensedRegular';
    src: url('./assets/fonts/Ubuntu-C.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntuLight';
    src: url('./assets/fonts/Ubuntu-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntuLightItalic';
    src: url('./assets/fonts/Ubuntu-LI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntuMedium';
    src: url('./assets/fonts/Ubuntu-M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntuMediumItalic';
    src: url('./assets/fonts/Ubuntu-MI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'ubuntuRegular';
    src: url('./assets/fonts/Ubuntu-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntuRegularItalic';
    src: url('./assets/fonts/Ubuntu-RI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

.ubuntuBold {
    font-family: 'ubuntuBold';
}

.ubuntuBoldItalic {
    font-family: 'ubuntuBoldItalic';
}

.ubuntuCondensedRegular {
    font-family: 'ubuntuCondensedRegular';
}

.ubuntuLight {
    font-family: 'ubuntuLight';
}

.ubuntuLightItalic {
    font-family: '.ubuntuLightItalic';
}

.ubuntuMedium {
    font-family: 'ubuntuMedium';
}

.ubuntuMediumItalic {
    font-family: 'ubuntuMediumItalic';
}

.ubuntuRegular {
    font-family: 'ubuntuRegular';
}

.ubuntuRegularItalic {
    font-family: 'ubuntuRegularItalic';
}

.padding-top {
    padding-top: 5vh;
}

.padding-bottom {
    padding-bottom: 5vh;
}

.padding-left {
    padding-left: 5vw;
}

.padding-right {
    padding-right: 5vw;
}

.margin-top {
    margin-top: 5vh;
}

.margin-bottom {
    margin-bottom: 5vh;
}

.margin-left {
    margin-left: 5vw;
}

.margin-right {
    margin-right: 5vw;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.padding {
    padding: 5vh 5vw;
}

.margin {
    margin: 5vh 5vw;
}

.padding-top-5 {
    padding-top: 5%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.padding-left-5 {
    padding-left: 5%;
}

.padding-right-5 {
    padding-right: 5%;
}

.padding-5 {
    padding: 5%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-5 {
    margin: 5%;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.centered {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.table {
    display: table;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.white-text {
    color: white;
}

.page-heading {
    display: inline-block;
}

.page-heading::after {
    content: '';
    display: block;
    width: 100%;
    background-color: red;
    height: 3px;
    position: relative;
}

.inline-block {
    display: inline-block;
}

.justified {
    text-align: justify;
}