<section class="header-section">
    <div class="table">
        <div class="table-cell centered">
            <h1 class="uppercase white-text ubuntuRegular">
                <p class="page-heading">
                    Financial Services
                </p>
            </h1>
        </div>
    </div>
</section>
<section class="content padding">
    <div class="container justified">
        <div class="row">
            <div class="col-md-8">
                <h3>The right partner for all your <span class="red-text">financial</span> and <span class="red-text">transactional</span> requirements.
                </h3><br>
                <p>We offer a broad range of financial services including capital optimisation, financial restructuring
                    and other advisory services for financial stability and maximising the returns. At Outbak Ventures,
                    we are continually looking for new opportunities to reduce operational costs and increase
                    efficiencies of businesses, which in return reflects as better performances across all dimensions.
                </p>
                <p>Outbak Ventures also advises on infrastructure, transactions, valuations, merger, acquisition and
                    integration. Our knowledge of the local and international investment market allows us to help our
                    clients gain a better return on their investment.
                </p>
            </div>
            <div class="col-md-4 sticky">
                <div class="centered">
                    <div class="margin-5">
                        <div class="card">
                            <a (click)="navigate(1)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Investment Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(2)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Business Consulting</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(3)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Collaboration</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(4)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>The Hatchery</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card">
                            <a (click)="navigate(5)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Financial Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                        <div class="card">
                            <a (click)="navigate(6)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Risk Management</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(7)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>Tech Solutions</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a (click)="navigate(8)">
                                <div class="card-body">
                                    <div class="table no-margin">
                                        <div class="table-cell centered">
                                            <h5>International Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>