<section class="nav-top-spacer landing-section">
    <video class="landing-video" autoplay muted loop id="myVideo">
        <source src="../../assets/videos/backgroundVideo.MOV" type="video/mp4">
    </video>
    <div class="outerArrow">
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>

<section class="summarySection">
    <div class="summary-first-half  animation-element slide-left testimonial">
        <img src="../../assets/images/why.png" />
    </div>
    <div class="summary-second-half animation-element slide-left testimonial">
        <div class="summary-second-half-heading">
            <span>We advise</span> you, and you make your own educated and supported decision!
        </div>
        <div class="summary-second-half-content">
            <p>We are a private limited company formed under the vision of creating useful and sustainable business
                ventures in Australia. We undertake our own ventures and also work alongside with entrepreneurs in
                building strong and growing businesses.</p>
            <p>We identify, evaluate and invest in opportunities across a range of sectors within the Australian market
                with a particular focus on smaller companies.</p>
        </div>
    </div>
</section>
<section class="workingProcessSection">
    <hr class="progress" />
    <div class="workingProcess">
        <div class="workingProcess-1-2">


            <div class="text-animate text-animate-one workingProcessHeading" animation-type="text-animate-one">
                <span>O</span><span>u</span><span>r</span>&nbsp;<span>W</span><span>o</span><span>r</span><span>k</span><span>i</span><span>n</span><span>g</span>&nbsp;<span>P</span><span>r</span><span>o</span><span>c</span><span>e</span><span>s</span><span>s</span>
            </div>

        </div>
        <div class="workingProcess-2-2">
            <div class="animation-element slide-left testimonial">
                Our ventures work smarter and grow faster. We achieve this through building effective business
                structures, reduce costs, manage risk and regulation and leverage talent.
            </div>
        </div>
    </div>


    <div class="cubes">



        <div class="animation-element slide-left testimonial animation-element-box">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Explore</h5>
                    <p class="card-text">At this stage we are looking at opportunities. We work with the stake holders
                        and industry partners to gain market intelligence.At this stage we are looking at opportunities.
                        We work with the stake holders and industry partners to gain market intelligence. </p>
                </div>
                <div class="card-icon">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class=" animation-element slide-left testimonial animation-element-box">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Analyse</h5>
                    <p class="card-text">We are very curious. We want to know more about the business. Our expert team
                        of analysts are hard at work.
                    </p>
                </div>
                <div class="card-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class=" animation-element slide-left testimonial animation-element-box">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Due diligence</h5>
                    <p class="card-text">We carry out a comprehensive appraisal of a business to evaluate its commercial
                        potential.
                    </p>
                </div>
                <div class="card-icon">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class=" animation-element slide-left testimonial animation-element-box">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Negotiate</h5>
                    <p class="card-text">We make sure that the price paid is fair and gives maximum value to
                        shareholders.
                    </p>
                </div>
                <div class="card-icon">
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class=" animation-element slide-left testimonial animation-element-box">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transact</h5>
                    <p class="card-text">Settlements are made and transactions are completed.
                    </p>
                </div>
                <div class="card-icon">
                    <i class="fa fa-television" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class=" animation-element slide-left testimonial animation-element-box">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Engage</h5>
                    <p class="card-text">Our expert management team takes over. Operational costs are cut and
                        efficiencies are optimised to maximise shareholder returns.
                    </p>
                </div>
                <div class="card-icon">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                </div>
            </div>
        </div>


    </div>
    <hr class="progress" />
</section>
<section class="">

</section>