<section class="landing-section white-text">
    <div class="table">
        <div class="table-cell centered">
            <img class="img-contain-2" src="../../assets/images/Logos/outbak4.png">
            <div class="summary-second-half-heading">
                <button class="btn btn-light header-button">
                    <h1><span class="red-text">&nbsp;&nbsp;Business Consultancy</span> &
                        Investment Management Company&nbsp;&nbsp;</h1>
                </button>
            </div>
            <div class="buttons-bar">
                <button class="btn btn-lg btn-outline-light btn-margin" (click)="navigate(1)">Entrepreneurs</button>
                <button class="btn btn-lg btn-outline-light btn-margin" (click)="navigate(2)">Investors</button>
                <button class="btn btn-lg btn-outline-light btn-margin" (click)="navigate(3)">Partners</button>
            </div>
        </div>
    </div>
    <div class="outerArrow">
        <div class="arrow">
            <span></span>
        </div>
    </div>
</section>

<section class="summarySection padding">
    <div class="row">
        <div class="col-md-5">
            <div class="table">
                <div class="table-cell">
                    <img class="img-contain animation-element slide-left testimonial" src="../../assets/images/why.png" />
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="table">
                <div class="table-cell justified">
                    <img class="img-contain-2 animation-element slide-left testimonial" src="../../assets/images/Logos/outbak2.png">
                    <div class="padding-left-section-2">
                        <p class="animation-element slide-left testimonial">
                            Outbak Ventures a private limited company formed under the vision of creating useful and
                            sustainable business ventures in Australia. We undertake our ventures and also work
                            alongside
                            entrepreneurs and investors in acquiring, investing or starting up a venture and turning
                            them
                            into healthy and growing businesses. We combine old school business values with modern day
                            business intelligence to identify, evaluate and invest in opportunities across a range of
                            sectors within the Australian market.
                        </p>
                        <br>
                        <h3 class="animation-element slide-left testimonial no-margin uppercase">Our <span class="red-text">Expertise</span></h3>
                        <br>
                        <p class="animation-element slide-left testimonial">
                            We work with entrepreneurs, investors and our associates to create a seamless flow of
                            resources
                            between
                            the
                            different stakeholders. At Outbak Ventures, we realise that no two businesses are alike and
                            offer
                            customised
                            solutions depending on the particular requirement.
                            For new or budding companies, we handle every stage of business development from the initial
                            risk
                            assessment
                            and strategy to the setting up of business infrastructure and processes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="summary-first-half  animation-element slide-left testimonial">
        <img src="../../assets/images/why.png" />
    </div>
    <div class="summary-second-half animation-element slide-left testimonial">
        <div class="summary-second-half-heading">
            <span>We advise</span> you, and you make your own educated and supported decision!
            <span>Business consultancy</span> & investment management company.
        </div>
        <div class="summary-second-half-content">
            <p>We are a private limited company formed under the vision of creating useful and sustainable business
                ventures in Australia. We undertake our own ventures and also work alongside with entrepreneurs in
                building strong and growing businesses.</p>
            <p>We identify, evaluate and invest in opportunities across a range of sectors within the Australian market
                with a particular focus on smaller companies.</p>
        </div>
    </div> -->
</section>
<!-- <hr class="no-margin" /> -->
<section class="our-industries-section">
    <div class="row padding-left padding-top">
        <div class="col-md-12">
            <div class="text-animate text-animate-one workingProcessHeading" animation-type="text-animate-one">
                <h3>
                    <b><span>O</span><span>u</span><span>r</span><span>&nbsp;</span></b>
                    <b class="red-text">
                        <span>I</span><span>n</span><span>d</span><span>u</span><span>s</span><span>t</span><span>r</span><span>i</span><span>e</span><span>s</span>
                    </b>
                    <!-- <span>r</span><span>o</span><span>c</span><span>e</span><span>s</span><span>s</span> -->
                </h3>
            </div>
        </div>
    </div>
    <div class="cubes">
        <div class="row">
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-1">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Financial Services</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-2">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Consumer Products and Services</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-3">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Government and Public Sector</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-4">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Infrastructure, Property Development and Asset Management</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-5">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Energy and Resources</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-6">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Engineering, Technology, and Automation</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-7">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Educational Assets and Services</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-8">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Health, Wellbeing, and Hospitality</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animation-element slide-left testimonial animation-element-box">
                <div class="card card-9">
                    <div class="card-body">
                        <div class="table">
                            <div class="table-cell centered">
                                <h5>Industrial and Manufacturing</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <hr class="no-margin" /> -->